<div class="content content-box round-medium shadow-huge top-10">
    <a href="index.html"></a>
    <p class="center-text font-10 bottom-0">Copyright &copy; <a href="https://affandyslab.com/">Affandy's Lab</a> -  <span class="copyright-year"></span>. All Rights Reserved</p>
</div>